.container {
    width: 960px;
}

span {
    background: #777777;
}
h1 {
    color:#ffffff;
    background-color: #4aaaa5;  
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    float: left;
    margin-bottom: 0;

}